:root {
  --primary-text-color:#212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196F3;
  --accent-text-color: #757575;
  --accent-bgd-color: #2F303A;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
}
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;    
}
.logo-span {
  color: #000000;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.hero-studio {
  background-color: var(--accent-bgd-color);
}
.hero-title{
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-current {
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);  
}
.auth {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth:hover,
  .auth:focus {
  color: var(--accent-color);
}
.btn {
  color: var(--primary-white-color);
  background:var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color) solid 2px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: #188CE8;
}
.btn-portfolio {
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color) solid 2px;
  border-radius: 4px;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn-portfolio-current{
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
}
.features-text {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work-item {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.comand {
  background-color: #F5F4FA;
}
.comand-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.card {
  background-color: var(--primary-white-color);
}
.card-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.card-text {
  color: var(--accent-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--accent-bgd-color);
}
.footer-span {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
}
.map {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mailto,
.tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mailto:hover,
  .mailto:focus,
  .tel:hover,
  .tel:focus,
  .map:hover,
  .map:focus,
  .logo:hover,
  .logo:focus,
  .logo-span:hover,
  .logo-span:focus,
  .footer-span:hover,
  .footer-span:focus {
  color: var(--accent-color);
}
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--accent-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
